@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 22px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 16px;
    margin: 10px;
    margin-right: auto;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    border-radius: 20px;
    border: solid 3px black;
    padding: 20px;
    margin: 30px;
}

.text-container {
    text-align: center;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    min-width: 200px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 15px;
}

.header-button {
    border: solid 2px red;
    border-radius: 45px;
    width: 100px;
    background-color: white;
    padding: 30px;
}

img {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    border-radius: 18px;
}

.image-placeholder {
    align-self: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.four-image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: blueviolet;
}

.image-header {
    padding-top: 15px;
    flex-wrap: wrap;
    font-weight: 900;
    text-align: center;
    margin: 10px;
    font-size: 45px;
}

.image-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 65px;
}

figcaption {
    flex-wrap: wrap;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 20px;
}
.four {
    height: 200px;
    flex-wrap: wrap;
    width: 200px;
    border: solid 2px blue;
}

.quote-container {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-wrapper {
    width: 500px;
    padding: 50px;
}

.quote {
    font-family: 'Bitter', serif;
    font-style: italic;
    text-align: center;
}

.shrink {
    font-size: 15px;
}


.quote-sayer {
    text-align:end;
}

.cta-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    justify-content: center;
    align-items: center;
    padding: 45px;
}

.cta-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 25px;
}

.cta-text-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.cta {
    font-size: 20px;
    letter-spacing: -1px;
}
.sub-cta {
    font-size: 15px;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    border-radius: 10px;
    width: 100px;
    padding: 15px;
}

a {
    text-decoration: none;
}

.aubligation {
    font-weight: bold;
}

.footer {
    font-size: 13px;
    padding: 10px;

    background-color: blue;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


